* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --tahoma: 'Tahoma', sans-serif;
}

body {
   padding: 3rem 2rem;
   font-family: var(--tahoma);
   background-color: #0a0a0a;
}

h1 {
   text-align: center;
   color: antiquewhite;
}

ul {
   display: flex;
   gap: 5rem;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 3rem;

}

li {
   list-style-type: none;
   font-size: larger;
   a {
      text-decoration: none;
      color: whitesmoke;
   }
   a:hover {
      color: blue;
   }
}
